html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    font-size: 2vw;
}

.nav>ul{
    display: flex;
    list-style: none;
}

li{
    margin-left:1vw;
    margin-right: 1vw;
    margin-top: 1VW;
}

.nav{
    display:flex;
    justify-content: space-between;
    margin-right: 1vw;
    margin-left: 1.5vw;
}

.text{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    margin-right:3vw;
}

.text>div{

    text-align: center;
    
}

.text p{
    margin-left: 2.5vw;
}

.footer{
    text-align: center;
    background-color: blueviolet;
    font-size: 1.5vw;
    padding: 0.07vw;
    color: white;
}

.developer{
    font-size: 1.5vw;
    font-weight: 600;
}

.nav li{

    font-weight: bolder;
}

img[src="images/Table_Image.jpeg"]{

    width:95vw;
    height:125vh;
    margin-left: 1.5vw;
    margin-right: 1vw;
}

img[src="images/html.png"]{

    height: 25vh;
    width: 12vw;
}

img[src="images/css.png"]{

    height: 25vh;
    width: 12vw;
}

img[src="images/js.png"]{

    height: 25vh;
    width: 12vw;
}

a{

    text-decoration: none;
}

a:link,a:visited{

    color: black;
}

a:hover{

    color: rgb(153, 11, 6);
}
